.vscode

T03_Seman/src/lex.yy.c

T03_Seman/src/C_IPL_Syntax.tab.c

T03_Seman/src/C_IPL_Syntax.tab.h

T03_Seman/tradutor

T03_Seman/tests/helloWorld.c

T03_Seman/tests/toTest.c

T03_Seman/tests/test.c

T03_Seman/logfile.out

T04_TAC/src/lex.yy.c

T04_TAC/src/C_IPL_Syntax.tab.c

T04_TAC/src/C_IPL_Syntax.tab.h

T04_TAC/tradutor

T04_TAC/tests/helloWorld.c

T04_TAC/tests/toTest.c

T04_TAC/tests/test.c

T04_TAC/logfile.out